<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de gestion COVID-19 | administrador</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <section class="section-1" id="section-1">
        <div class="columna2">
            <header>
                <a href="/logout" id="admin">Ingresar como medico/asesor</a>
            </header>
            <main>
                <h2>Ingresar</h2>
                <form action="/admin-home" method='post' id="formAdmin">
                    <input type="text" id="user" name="user" placeholder="usuario" required>
                    <input type="password" id="password" name="password" placeholder="contraseña" required>
                    <input type="submit" id="btn" value="INGRESAR">
                </form> 
            </main>
        </div>
        <div class="columna1">
            <header>
                <h2>Sistema de gestion COVID-19</h2>
            </header>
            <main>
                <div class="texto">
                    <h1>Coronavirus en Barranquilla</h1>
                </div>
            </main>
        </div>
        
    </section>
</body>
</html>